<template>
  <div
    class="ln-avatar"
    :class="{ 'ln-avatar-square': shape === 'square' }"
    :style="{ '--size': size + 'px', backgroundColor: color, '--text-color': textColor }"
  >
    <div class="ln-avatar-inner">
      <slot> LnUI </slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ln-avatar',
  props: {
    size: {
      type: Number,
      required: false,
      default: 50,
    },
    color: {
      type: String,
      required: false,
      default: '#bc261b',
    },
    textColor: {
      type: String,
      required: false,
      default: 'white',
    },
    shape: {
      type: String,
      required: false,
      default: 'circle',
      validator: value => {
        // 这个值必须匹配下列字符串中的一个
        return ['square', 'circle'].indexOf(value) !== -1;
      },
    },
  },
};
</script>

<style lang="less" scoped>
@import '../../style/_var.less';

.ln-avatar {
  // background-color: @theme1;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  .ln-avatar-inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

// 方形
.ln-avatar-square {
  border-radius: 4px;
}
</style>
