<template>
  <div class="ln-num-card">
    <div class="ln-num-card-left">
      <h2 class="num">
        {{ prefix }}{{ tweenNum }}<sup>{{ suffix }}</sup>
      </h2>
      <span class="desc">
        <slot name="desc"> 访问量 </slot>
      </span>
    </div>
    <div class="ln-num-card-right">
      <slot name="icon"></slot>
    </div>
  </div>
</template>

<script>
import TWEEN from '@tweenjs/tween.js';

export default {
  name: 'ln-num-card',
  props: {
    start: {
      type: Number,
      require: false,
      default: 0,
    },
    end: {
      type: Number,
      require: false,
      default: 33,
    },
    duration: {
      type: Number,
      require: false,
      default: 1000,
    },
    prefix: {
      type: String,
      require: false,
      default: '',
    },
    suffix: {
      type: String,
      require: false,
      default: '',
    },
  },
  data() {
    return {
      num: this.start,
      tweenNum: this.end,
    };
  },
  watch: {
    num(newValue, oldValue) {
      new TWEEN.Tween({
        number: oldValue,
      })
        .to(
          {
            number: newValue,
          },
          this.duration,
        )
        .onUpdate(tween => {
          this.tweenNum = (~~tween.number).toLocaleString();
        })
        .start();
      function animate() {
        if (TWEEN.update()) {
          requestAnimationFrame(animate);
        }
      }
      animate();
    },
  },
  mounted() {
    this.num = this.end;
  },
};
</script>

<style lang="less" scoped>
@import '../../style/_var.less';

.ln-num-card {
  // border: 1px dashed @theme2;
  width: 300px;
  height: 120px;
  border-radius: 4px;
  // background-color: #eee;
  padding: 20px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .ln-num-card-left {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    .num {
      font-size: 36px;
      color: @theme1;
    }
    .desc {
      font-size: 16px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .ln-num-card-right {
    width: 40px;
    img {
      width: 100%;
    }
  }
}
</style>
