<template>
  <div class="ln-breadcrumb">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'ln-breadcrumb',
  props: {
    separator: {
      default: '/',
      type: String,
      required: false,
    },
  },
  provide() {
    return {
      lnBreadcrumb: this,
    };
  },
};
</script>

<style lang="less" scoped>
@import '../../style/_var.less';

.ln-breadcrumb {
  display: flex;
}
</style>
