<template>
  <div class="ln-breadcrumb__item" :data-content="separator">
    <div class="ln-breadcrumb__item-content">
      <span ref="link" :class="[to ? 'is-link ' : '']">
        <slot>lnLink</slot>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ln-breadcrumb-item',
  inject: ['lnBreadcrumb'],
  props: {
    to: {},
    replace: Boolean,
  },
  data() {
    return {
      separator: '',
    };
  },
  mounted() {
    this.separator = this.lnBreadcrumb.separator;
    const link = this.$refs.link;
    link.setAttribute('role', 'link');
    link.addEventListener('click', () => {
      const { to, $router } = this;
      if (!to || !$router) return;
      this.replace ? $router.replace(to) : $router.push(to);
    });
  },
};
</script>

<style lang="less" scoped>
@import '../../style/_var.less';

.ln-breadcrumb__item {
  display: flex;
  align-items: center;
  color: @grey;
  &:not(:last-child) {
    &::after {
      content: attr(data-content);
      padding: 6px;
      font-size: 14px;
    }
  }
}
</style>
