<template>
  <div class="ln-list-item" :class="{ 'ln-item-item-dash': dash }">
    <div class="ln-list-item-left">
      <div class="ln-list-item-title">
        <slot name="default"></slot>
      </div>
      <div class="ln-list-item-content">
        <slot name="content"></slot>
      </div>
    </div>
    <div class="ln-list-item-right">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ln-list-item',
  props: {
    dash: {
      type: Boolean,
      require: false,
      default: true,
    },
  },
};
</script>

<style lang="less" scoped>
@import '../../style/_var.less';

.ln-item-item-dash {
  &:not(:last-child) {
    border-bottom: 1px dashed #c5c6c7;
  }
}
.ln-list-item {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  // width: 200px;
  display: flex;
  justify-content: space-between;
  .ln-list-item-left {
    display: flex;
    flex-direction: column;
    .ln-list-item-title {
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      &:hover {
        color: @theme1;
        transform: translateX(5px);
      }
    }
    .ln-list-item-content {
      margin-top: 10px;
      color: @theme2;
      font-size: 14px;
      &:empty {
        margin-top: 0;
      }
    }
  }
  .ln-list-item-right {
    color: @theme1;
    font-size: 14px;
  }
}
</style>
