<template>
  <div class="ln-list">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'ln-list',
  props: {},
};
</script>

<style lang="less" scoped>
@import '../../style/_var.less';
</style>
