<template>
  <hr
    class="ln-divider"
    :data-content="content"
    :style="{
      '--color': props.color || '#c5c6c7',
      '--font-color': props.fontColor || '#303132',
      '--bg-color': props.bgColor || '#fff',
    }"
  />
</template>

<script>
export default {
  name: 'ln-divider',
  props: {
    content: {
      type: String,
      required: false,
      default: '',
    },
    props: {
      type: Object,
      required: false,
      default: () => ({ color: '#c5c6c7', fontColor: '#303132', bgColor: '#fff' }),
    },
  },
};
</script>

<style lang="less" scoped>
@import '../../style/_var.less';

.ln-divider {
  position: relative;
  outline: 0;
  border: 0;
  color: var(--font-color);
  text-align: center;
  height: 150%;
  font-size: 16px;
  margin: 0 5%;
}

.ln-divider::before {
  content: '';
  background-color: var(--color);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.ln-divider::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 16px;
  background-color: var(--bg-color);
}
</style>
