@primary: #2d8cf0;
@success: #19be6b;
@warning: #ff9900;
@error: #cd0100;

@grey: #606266;

// @theme1: rgb(188, 38, 27);
@theme1:rgba(7, 155, 140, 1);
@theme2: rgb(65, 65, 63);

@small: 28px;
@normal: 36px;
@large: 44px;

@font-small: 14px;
@font-normal: 16px;
@font-large: 18px;
