<template>
  <div class="demo">
    <ln-breadcrumb>
      <ln-breadcrumb-item :to="{ path: '/home' }">首页</ln-breadcrumb-item>
      <ln-breadcrumb-item>需求大厅</ln-breadcrumb-item>
      <ln-breadcrumb-item>需求列表</ln-breadcrumb-item>
    </ln-breadcrumb>
    <ln-breadcrumb separator="|">
      <ln-breadcrumb-item></ln-breadcrumb-item>
      <ln-breadcrumb-item></ln-breadcrumb-item>
      <ln-breadcrumb-item></ln-breadcrumb-item>
    </ln-breadcrumb>
    <ln-divider></ln-divider>
    <ln-button size="small">小按钮</ln-button>
    <ln-button size="normal">正常</ln-button>
    <ln-button size="large">大按钮</ln-button>
    <ln-divider></ln-divider>
    <ln-button>正常</ln-button>
    <ln-button round>圆角</ln-button>
    <ln-divider></ln-divider>
    <ln-button>正常</ln-button>
    <ln-button type="success">成功</ln-button>
    <ln-button type="warning">警告</ln-button>
    <ln-button type="error">错误</ln-button>
    <div class="mm">lalala</div>
    <ln-divider></ln-divider>
    <div>
      <ln-button block>块状按钮</ln-button>
    </div>
    <ln-divider></ln-divider>
    <ln-divider content="带文本的分割线"></ln-divider>
    <ln-divider></ln-divider>
    <ln-avatar></ln-avatar>
    <ln-avatar shape="square"></ln-avatar>
    <ln-avatar>
      <img src="../src/assets/e9ad200c54b6bebbe39309bbb929f220.jpg" alt />
    </ln-avatar>
    <ln-avatar :size="100">
      <img src="../src/assets/e9ad200c54b6bebbe39309bbb929f220.jpg" alt />
    </ln-avatar>
    <ln-avatar textColor="rgb(255, 138, 101)" color="rgb(156, 39, 176)">DD</ln-avatar>
    <ln-divider></ln-divider>
    <ln-list>
      <ln-list-item v-for="i in fruit" :key="i">
        这里是标题 -- {{ i }}
        <template v-slot:right>MORE</template>
      </ln-list-item>
    </ln-list>
    <ln-divider></ln-divider>
    <ln-num-card suffix="+" :end="999"></ln-num-card>
    <ln-num-card :end="2899" :duration="2000" prefix="$ ">
      <template v-slot:desc>价格</template>
      <template v-slot:icon>
        <img src="../src/assets/logo.png" alt="" />
      </template>
    </ln-num-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fruit: ['苹果', '香蕉', '西瓜', '芒果'],
    };
  },
};
</script>

<style lang="less" scoped>
.demo {
  width: 40%;
  & > * {
    margin: 10px;
  }
}

.mm {
  background-color: skyblue;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0.375rem 0 olivedrab;
  border-radius: 4px;
  border: 1px solid olivedrab;
  &:active {
    box-shadow: none;
    position: relative;
    top: 0.375rem;
  }
}
</style>
