<template>
  <button class="ln-btn" :class="[type, size, { round, block, ripple }]">
    <slot>Button</slot>
  </button>
</template>

<script>
export default {
  name: 'ln-button',
  props: {
    type: {
      type: String,
      required: false,
      default: 'primary',
      validator: value => {
        // 这个值必须匹配下列字符串中的一个
        return ['primary', 'success', 'warning', 'error'].indexOf(value) !== -1;
      },
    },
    size: {
      type: String,
      required: false,
      default: 'normal',
      validator: value => {
        // 这个值必须匹配下列字符串中的一个
        return ['normal', 'small', 'large'].indexOf(value) !== -1;
      },
    },
    round: {
      type: Boolean,
      required: false,
      default: false,
    },
    block: {
      type: Boolean,
      required: false,
      default: false,
    },
    ripple: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
};
</script>

<style lang="less">
@import '../../style/_var.less';

.ln-btn {
  // padding: 0 20px;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  letter-spacing: 0.5px;
  line-height: 100%;
  min-width: 88px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &:hover {
    opacity: 0.9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
  }
}

// 圆角
.round {
  border-radius: 20px;
}

// 块状按钮
.block {
  width: 100%;
  overflow: hidden;
}

// 尺寸
.small {
  height: @small;
  padding: 0 @small / 2;
  font-size: @font-small;
}
.normal {
  height: @normal;
  padding: 0 @normal / 3;
  font-size: @font-normal;
}
.large {
  height: @large;
  padding: 0 @large;
  font-size: @font-large;
}

// 按钮颜色
.primary {
  background-color: @primary;
}
.success {
  background-color: @success;
}
.warning {
  background-color: @warning;
}
.error {
  background: @error;
}

// 水波纹
.ripple {
  position: relative;
  // 隐藏溢出的径向渐变背景
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    // 设置径向渐变
    background-image: radial-gradient(circle, white 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
  }

  &:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    //设置初始状态
    transition: 0s;
  }
}
</style>
